[package]
name = "oodle_loader"
repository.workspace = true
authors.workspace = true
license.workspace = true
version.workspace = true
edition.workspace = true

[dependencies]
libloading = "0.9"
ureq = "3.1"
hex = { workspace = true }
sha2 = "0.10.9"
thiserror = "2.0.17"
